@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
  padding-right: 2em;
}

footer {
  color: white;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  font-size: xx-small;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-align: center;
}

.homeTop {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  text-align: center;
  background-image: url(images/portrait.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 0%;
  min-height: calc(100vh - 70px);
}

.homeMiddle {
  color: white;
  background-color: black;
  text-align: center;
  background-image: linear-gradient(rgb(23, 119, 203), rgb(213, 129, 3)),
    url(images/instruments.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.homeBottom {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(images/choregraphie-0130.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
  /* min-height: 95vh; */
}

.hombeBottomBanner {
  padding: 20px 0;
  width: 100%;
  background-color: #2a8bae6e;
}

.newAlbumContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0px;
}

.newAlbumContainer > img {
  max-width: 60%;
  margin: 40px 0px;
  box-shadow: 20px 19px 20px 0px #00000090;
}

.newAlbumDescription {
  max-width: 80%;
}

.aboutTop {
  background-image: url(images/roof.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 90vh;
}

.aboutBottom {
  padding: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url(images/choregraphie-0130.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
}

.aboutBottom > div {
  max-width: 500px;
  text-align: left;
  padding: 50px;
}

.agendaTop {
  background-image: url(images/recording.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 40%;
  min-height: 90vh;
}

.agendaBottom {
  padding: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url(images/choregraphie-0130.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
}

.newsContent {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(images/instruments.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.mediaContent {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contactContent {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(images/outdoors.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom;
}

nav {
  flex-grow: 1;
}

nav ol {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

nav ol li {
  display: inline-block;
  padding: 0.5em;
}

/* Style the links inside the navigation bar */
nav a {
  color: dimgray;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  color: black;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: dimgray;
}

/* Add a hover effect if you want */
.fa:hover {
  color: black;
}

.videosIntro {
  margin: 50px;
  max-width: 1200px;
  text-align: left;
}

.videosContainer {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.linkButton {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid white;
}

.linkButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.contactData {
  margin: 50px;
  max-width: 1200px;
  text-align: center;
}

.yellowFilter {
  filter: invert(87%) sepia(11%) saturate(461%) hue-rotate(23deg)
    brightness(109%) contrast(104%);
}

.orangeFilter {
  filter: invert(64%) sepia(79%) saturate(1315%) hue-rotate(340deg)
    brightness(89%) contrast(96%);
}

.blueFilter {
  filter: invert(41%) sepia(98%) saturate(360%) hue-rotate(150deg)
    brightness(96%) contrast(88%);
}

.whiteFilter {
  filter: invert(94%) sepia(100%) saturate(24%) hue-rotate(349deg)
    brightness(104%) contrast(108%);
}

/* sunil ideas */
@media only screen and (max-width: 800px) and (min-width: 701px) {
  header {
    padding-left: 1em;
    padding-right: 1em;
  }
  a.fa {
    padding: 4px;
  }
}
@media only screen and (max-width: 700px) {
  header {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  nav ol {
    padding-left: 0;
  }

  .videosContainer iframe {
    width: 450px;
  }
}
